<header class="site-header">
  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p class="uk-text-muted">{{ site.description }}</p>
    <nav>
      <ul class="uk-subnav uk-subnav-pill">
        <li {% if page.url == '/' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/index.html'>WORK</a></li>
        <li {% if current[1] == 'project.html' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/project.html' >PROJECT</a></li>
        <li><a href='http://julienterraz.com/tagged/logs' >LOGS</a></li>
      </ul>
    </nav>
  </div>
</header>
